Repository Enzaik/react-tailwind-1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: icon resize
  src/components/Dropdown/Dropdown.jsx
Due: none

feat: change router position
  src/App.js
Due: eslint --fix

feat: landing dropdown
  src/components/LandingDropdown/LandingDropdown.jsx
  src/pages/Landing/LandingPage.jsx
Due: none

feat: migrate to another lazy loading img
  package.json
  src/components/CustomHits/CustomHits.jsx
  src/components/Dropdown/Dropdown.jsx
  src/components/Footer/Footer.jsx
  src/components/FromTheBlog/FromTheBlog.jsx
  src/components/LandingDropdown/LandingDropdown.jsx
  yarn.lock
Due: prettier --write

feat: make house generic
  src/components/CustomHits/CustomHits.jsx
  src/components/SearchHits/HousesAlt.jsx
  src/components/SearchHits/SearchHits.jsx
  src/pages/Houses/HousesPage.jsx
Due: none

fix: fix touch bug
  src/components/Filters/Filters.jsx
Due: none

fix: remove comments
  src/components/Filters/Filters.jsx
Due: none

feat: make results page
  src/App.js
  src/components/Navbar/CleanNavbar.jsx
  src/components/Pricing/Pricing.jsx
  src/pages/Results/ResultsPage.jsx
Due: eslint --fix

feat: make generic input
  src/App.js
  src/CustomRefinedList.jsx
  src/Refinements.jsx
  src/components/CustomHits/CustomHits.jsx
  src/components/Filters/Filters.jsx
  src/components/Filters/VerticalFilter.jsx
  src/components/GenericInput/GenericInput.jsx
  src/components/MainSearchInput/MainSearchInput.jsx
  src/components/SearchHits/SearchHits.jsx
  src/pages/Results/ResultsPage.jsx
Due: eslint --fix

feat: misc
  public/build/tailwind.css
  src/components/SearchInput/SearchInput.jsx
Due: none

feat: car test
  functions/submission-created.js
  public/build/tailwind.css
  public/index.html
  src/App.js
  src/components/NewAd/NewAd.jsx
  src/components/NewAd/NewAdCar.jsx
  src/components/NewAd/NewAdHouse.jsx
Due: eslint --fix, prettier --write

feat: prepare car form
  functions/submission-created.js
  public/index.html
  src/components/NewAd/NewAdCar.jsx
  src/components/NewAd/NewAdHouse.jsx
Due: eslint --fix, prettier --write

feat: add province to form
  public/index.html
Due: prettier --write

feat: update links
  src/App.js
  src/CustomRefinedList.jsx
  src/components/GenericInput/GenericInput.jsx
  src/components/MainSearchInput/MainSearchInput.jsx
  src/components/Navbar/Navbar.jsx
Due: eslint --fix

feat: misc
  public/build/tailwind.css
  public/css/tailwind.css
  src/components/Filters/VerticalFilter.jsx
  src/components/Navbar/Navbar.jsx
Due: none

fix: fix hidden logo
  src/components/Filters/VerticalFilter.jsx
Due: none

feat: change description
  public/index.html
Due: prettier --write

feat: misc css
  public/build/tailwind.css
  public/css/tailwind.css
  src/components/CustomHits/CustomHits.jsx
  src/components/Navbar/Navbar.jsx
  src/components/SearchHits/SearchHits.jsx
  src/components/SearchInput/SearchInput.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
Due: none

feat: misc
  public/build/tailwind.css
  src/components/Dropdown/Dropdown.jsx
  src/components/SearchHits/SearchHits.jsx
Due: none

feat: try background img
  public/build/tailwind.css
  src/components/MainSearchInput/MainSearchInput.jsx
  src/pages/Landing/LandingPage.jsx
Due: none

feat: add sorting
  package.json
  public/build/tailwind.css
  src/components/CustomHits/CustomHits.jsx
  src/components/MainSearchInput/MainSearchInput.jsx
  src/components/Navbar/Navbar.jsx
  src/components/SearchHits/SearchHits.jsx
  src/components/SortingButton/SortingButton.jsx
  src/pages/Landing/LandingPage.jsx
  yarn.lock
Due: prettier --write

feat: misc css changes
  public/build/tailwind.css
  src/RangeInput.jsx
  src/components/SearchHits/SearchHits.jsx
  src/components/SortingButton/SortingButton.jsx
  src/components/SortingButton/index.js
  src/hoc/withOpenHandler.jsx
  utils/Test.jsx
  utils/convert.js
Due: eslint --fix

fix: fix searches
  src/App.js
  src/components/CustomHits/CustomHits.jsx
  src/components/SearchHits/SearchHits.jsx
  src/pages/Results/ResultsPage.jsx
Due: eslint --fix

fix: fix replicas
  src/App.js
Due: eslint --fix

feat: add button to small devices
  src/components/SearchHits/SearchHits.jsx
  src/components/SortingButton/SortingButton.jsx
Due: none

feat: add heart feature
  public/build/tailwind.css
  src/components/CustomHits/CustomHits.jsx
  src/icons/outline/Heart.jsx
  src/pages/Results/ResultsPage.jsx
Due: none

feat: properly add like feature
  public/build/tailwind.css
  src/App.js
  src/components/CustomHits/CustomHits.jsx
  src/components/SearchHits/SearchHits.jsx
  src/components/SortingButton/SortingButton.jsx
  src/icons/outline/Heart.jsx
  src/pages/Results/ResultsPage.jsx
Due: eslint --fix

refactor: clean up code a bit
  src/App.js
  src/CustomRefinedList.jsx
  src/Header.jsx
  src/New.jsx
  src/Popup.jsx
  src/ProvinceInput.jsx
  src/RangeInput.jsx
  src/components/CategoriesMenu/CategoriesMenu.jsx
  src/components/CustomHighlight/CustomHighlight.jsx
  src/components/FromTheBlog/FromTheBlog.jsx
  src/components/GenericInput/GenericInput.jsx
  src/components/LandingDropdown/LandingDropdown.jsx
  src/components/MainSearchInput/MainSearchInput.jsx
  src/components/Navbar/Navbar.jsx
  src/components/NewAd/NewAdCar.jsx
  src/components/NewAd/NewAdHouse.jsx
  src/components/Pricing/Pricing.jsx
  src/components/SearchInput/SearchInput.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
  src/components/SortingButton/SortingButton.jsx
  src/components/SortingButton/index.js
  src/icons/outline/Heart.jsx
  src/pages/Landing/LandingPage.jsx
  src/pages/Results/ResultsPage.jsx
Due: eslint --fix

feat: penkos changes
  public/build/tailwind.css
  src/components/SearchHits/SearchHits.jsx
  src/components/SortingButton/SortingButton.jsx
Due: none

fix: first round of css changes
  public/build/tailwind.css
  public/css/tailwind.css
  public/index.html
  src/components/CustomHits/CustomHits.jsx
  src/components/Filters/VerticalFilter.jsx
  src/components/Navbar/Navbar.jsx
  src/components/SearchHits/SearchHits.jsx
  src/components/SearchInput/SearchInput.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
  src/components/SortingButton/SortingButton.jsx
Due: prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

feat: add file
  ahrefs_86c8b9e6816613e2f906d3a3fa4d358756f975ffc9ce12750f1a5bb5afb30004
Due: none

Revert "feat: add file"
  ahrefs_86c8b9e6816613e2f906d3a3fa4d358756f975ffc9ce12750f1a5bb5afb30004
Due: none

feat: add meta tag
  public/index.html
Due: prettier --write

fix: package.json, yarn.lock & .snyk to reduce vulnerabilities
  .snyk
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.{json,md,yaml,yml,html}) or (any of: build/*.css)
  stylelint --fix: any of: build/*.css
