Repository Enzaik/react-tailwind-1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Create node.js.yml
  .github/workflows/node.js.yml
Due: prettier --write

feat: update workflow
  .github/workflows/node.js.yml
  .lintstagedrc
  .stylelintignore
  .stylelintrc.json
  package.json
  src/Product.jsx
  yarn.lock
Due: prettier --write

feat: modify package.json
  createComp.sh
  package.json
  public/index.html
  src/App.js
  src/Component.js
  src/Header.jsx
  src/Landing.jsx
  src/Pricing.jsx
  src/Test/TestComponent.js
  src/Test/TestContainer.js
  src/Test/index.js
Due: eslint --fix, prettier --write

feat: mtest yml
  .github/workflows/node.js.yml
Due: prettier --write

feat: update package.json
  package.json
Due: prettier --write

feat: update gitignore
  .gitignore
  public/build/tailwind.css
Due: prettier --write, stylelint --fix

feat: update page
  src/App.js
  src/Landing.jsx
  src/Landing2.jsx
  src/Navbar.js
Due: eslint --fix

feat: update page
  src/App.js
  src/Pricing.jsx
Due: eslint --fix

feat: update page temp
  src/Pricing.jsx
Due: none

feat: update page
  src/Pricing.jsx
Due: none

feat: update title
  public/index.html
Due: prettier --write

feat: add purgeCSS
  package.json
  postcss.config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: add listItems
  src/App.js
  src/ListItem.jsx
Due: eslint --fix

feat: change ListItem
  public/build/tailwind.css
  src/App.js
  src/Content.jsx
  src/ListItem.jsx
  src/ListItemHorizontal.jsx
  src/ListItemVertical.jsx
  src/ListItems.jsx
  src/Navbar.js
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: change layout a bit
  src/ListItemVertical.jsx
  src/Navbar.js
Due: eslint --fix

feat: add routing
  package.json
  src/Content.jsx
  src/ListItemVertical.jsx
  src/ListItems.jsx
  src/Navbar.js
  src/index.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: achange some routing
  src/Content.jsx
  src/Navbar.js
Due: eslint --fix

feat: properly implement dropdown handlers
  src/Dropdown.jsx
  src/Navbar.js
Due: eslint --fix

feat: change profile
  src/Dropdown.jsx
Due: none

refactor: organize routes
  src/Content.jsx
Due: none

fix: fix routes
  src/Content.jsx
  src/Pricing.jsx
Due: none

feat: add algolia
  package.json
  public/index.html
  src/Content.jsx
  src/ListItemHorizontal.jsx
  src/ListItemVertical.jsx
  src/ListItems.jsx
  src/Search.css
  src/Search.jsx
  yarn.lock
Due: prettier --write, stylelint --fix

feat: improve search ui
  src/App.css
  src/CustomSearchBox.jsx
  src/ListItems.jsx
Due: prettier --write, stylelint --fix

feat: add refined search
  src/Autocomplete.jsx
  src/Content.jsx
  src/CustomRefinedList.jsx
  src/CustomSearchBox.jsx
  src/ListItems.jsx
Due: none

feat: add basic price range
  src/CustomRefinedList.jsx
  src/ListItems.jsx
  src/RangeSlider.jsx
Due: none

fix: fix rheostat issue
  src/CustomRefinedList.jsx
  src/ListItems.jsx
  src/RangeInput.jsx
  src/RangeSlider.jsx
Due: none

feat: handle min max
  src/RangeInput.jsx
Due: none

fix: fix some css
  src/App.js
  src/CustomRefinedList.jsx
  src/CustomSearchBox.jsx
  src/ListItems.jsx
  src/Navbar.js
  src/RangeInput.jsx
Due: eslint --fix

feat: improve layout
  .gitignore
  public/css/tailwind.css
  src/App.js
  src/Content.jsx
  src/CustomHits.jsx
  src/CustomRefinedList.jsx
  src/CustomSearchBox.jsx
  src/Landing.jsx
  src/Landing2.jsx
  src/ListItemVertical.jsx
  src/ListItems.jsx
  src/New.jsx
  src/RangeInput.jsx
  src/components/Dropdown/Dropdown.jsx
  src/components/Houses/Houses.jsx
  src/components/Landing/Landing.jsx
  src/components/Navbar/Navbar.jsx
  src/components/Pricing/Pricing.jsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix build
  src/CustomSearchBox.jsx
  src/components/Houses/Houses.jsx
Due: none

fix: fix zindex
  src/CustomSearchBox.jsx
  src/components/Dropdown/Dropdown.jsx
  src/components/Navbar/Navbar.jsx
  src/components/Pricing/Pricing.jsx
Due: none

fix: handle routing
  public/_redirects
Due: none

feat: add tem landing page
  .gitignore
  src/App.js
  src/components/Landing/Landing.jsx
Due: eslint --fix

fix: fix typo
  src/components/Landing/Landing.jsx
Due: none

feat: add mobile menu handling
  src/components/Landing/Landing.jsx
Due: none

feat: change font
  public/build/tailwind.css
  src/components/Landing/Landing.jsx
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: change font
  src/App.js
Due: eslint --fix

feat: add button to search
  src/CustomSearchBox.jsx
  src/components/Houses/Houses.jsx
  src/components/Navbar/Navbar.jsx
Due: none

feat: style button
  src/CustomSearchBox.jsx
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.{json,md,yaml,yml,html}) or (any of: *.css)
  stylelint --fix: any of: *.css
