Repository Enzaik/react-tailwind-1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.js": ["eslint --fix"],
  "*.{json,md,yaml,yml,html}": ["prettier --write"],
  "build/*.css": ["stylelint --fix", "prettier --write"]
}

feat: change config
  tailwind.config.js
Due: eslint --fix

feat: change string
  src/CustomSearchBox.jsx
Due: none

refactor: change config
  src/CustomSearchBox.jsx
  src/components/Houses/Houses.jsx
  src/components/Navbar/Navbar.jsx
  tailwind.config.js
Due: eslint --fix

feat: remove useless markup
  src/CustomSearchBox.jsx
  src/components/Houses/Houses.jsx
  src/components/Navbar/Navbar.jsx
Due: none

fix: fix filter
  src/CustomRefinedList.jsx
  src/CustomSearchBox.jsx
  src/components/Filters/Filters.jsx
  src/components/Houses/Houses.jsx
Due: none

feat: change placeholder
  src/CustomRefinedList.jsx
  src/CustomSearchBox.jsx
  src/RangeInput.jsx
  src/components/Filters/Filters.jsx
Due: none

feat: add proper spacing
  public/build/tailwind.css
  src/MainContent.jsx
  src/components/Houses/Houses.jsx
  tailwind.config.js
Due: eslint --fix

fix: fix build
  package.json
Due: prettier --write

feat: add image lazy loading
  package.json
  src/CustomHits.jsx
  yarn.lock
Due: prettier --write

feat: make navbar fixed
  public/index.html
  src/App.js
  src/components/Pricing/Pricing.jsx
Due: eslint --fix, prettier --write

feat: organize css a bit
  postcss.config.js
  src/CustomHits.jsx
  src/CustomRefinedList.jsx
  src/CustomSearchBox.jsx
  src/Header.jsx
  src/ListItemHorizontal.jsx
  src/MainContent.jsx
  src/New.jsx
  src/Product.jsx
  src/RangeInput.jsx
  src/Search.jsx
  src/components/Dropdown/Dropdown.jsx
  src/components/Filters/Filters.jsx
  src/components/Pricing/Pricing.jsx
Due: eslint --fix

fix: fix spacing
  src/CustomHits.jsx
Due: none

feat: organize code a bit
  src/App.js
  src/MainContent.jsx
  src/RangeInput.jsx
  src/components/CustomHits/CustomHits.jsx
  src/components/CustomSearchBox/CustomSearchBox.jsx
  src/components/Houses/Houses.jsx
  src/components/VerticalFilter/VerticalFilter.jsx
  src/pages/Houses/HousesPage.jsx
Due: eslint --fix

feat: apply last changes
  src/components/CustomHits/CustomHits.jsx
  src/components/Houses/Houses.jsx
  src/components/VerticalFilter/VerticalFilter.jsx
  src/pages/Landing/LandingPage.jsx
Due: none

fix: fix component
  src/App.js
Due: eslint --fix

feat: optimize code a bit
  src/App.js
  src/components/Houses/Houses.jsx
  src/pages/Houses/HousesPage.jsx
Due: eslint --fix

feat: organize a bit
  public/build/tailwind.css
  public/css/tailwind.css
  src/App.js
  src/CustomRefinedList.jsx
  src/components/Filters/VerticalFilter.jsx
  src/components/Houses/Houses.jsx
  src/components/SearchInput/SearchInput.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
  src/components/VerticalFilter/VerticalFilter.jsx
  src/pages/Houses/HousesPage.jsx
Due: eslint --fix

feat: more organization
  public/build/tailwind.css
  public/css/tailwind.css
  public/index.html
  src/RangeInput.jsx
  src/components/CustomHits/CustomHits.jsx
  src/components/Filters/VerticalFilter.jsx
  src/components/Houses/Houses.jsx
  src/components/Navbar/Navbar.jsx
  src/pages/Houses/HousesPage.jsx
Due: prettier --write

feat: more org
  public/build/tailwind.css
  public/css/tailwind.css
  src/CustomRefinedList.jsx
  src/RangeInput.jsx
  src/components/Filters/Filters.jsx
  src/components/Filters/VerticalFilter.jsx
Due: none

feat: add search in large screen
  src/components/Navbar/CleanNavbar.jsx
  src/components/Pricing/Pricing.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
  src/pages/Houses/HousesPage.jsx
Due: none

fix: fix search
  src/components/Navbar/Navbar.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
Due: none

feat: add color
  public/build/tailwind.css
  public/index.html
  src/App.js
  src/components/CustomHits/CustomHits.jsx
  src/components/Houses/Houses.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: fix padding
  src/components/Houses/Houses.jsx
Due: none

fix: fix padding
  src/components/Houses/Houses.jsx
Due: none

feat: comment stuff
  src/components/Houses/Houses.jsx
  src/components/Navbar/CleanNavbar.jsx
  src/components/Navbar/Navbar.jsx
Due: none

fix: fix css a bit
  src/RangeInput.jsx
  src/components/Navbar/Navbar.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
Due: none

feat: change landing
  src/pages/Landing/LandingPage.jsx
Due: none

feat: change input css
  src/pages/Landing/LandingPage.jsx
Due: none

feat: change font a bit
  src/components/CustomHits/CustomHits.jsx
  src/pages/Landing/LandingPage.jsx
Due: none

feat: prepare for search on landing
  src/components/CustomHighlight/CustomHighlight.jsx
  src/components/MainSearchInput/MainSearchInput.jsx
  src/pages/Landing/LandingPage.jsx
Due: none

feat: attempt purge
  postcss.config.js
  public/build/tailwind.css
  tailwind.config.js
Due: eslint --fix

feat: add lazyload for landing page
  src/pages/Landing/LandingPage.jsx
Due: none

feat: add more lazy load
  public/build/tailwind.css
  src/CustomRefinedList.jsx
  src/RangeInput.jsx
  src/components/CustomHighlight/CustomHighlight.jsx
  src/components/MainSearchInput/MainSearchInput.jsx
  src/pages/Landing/LandingPage.jsx
Due: none

feat: add more lazy load
  src/App.js
  src/components/MainSearchInput/MainSearchInput.jsx
  src/pages/Landing/LandingPage.jsx
Due: eslint --fix

feat: add dark element in vertical bar
  public/build/tailwind.css
  public/css/tailwind.css
  src/components/Filters/VerticalFilter.jsx
Due: none

feat: change some css
  src/components/MainSearchInput/MainSearchInput.jsx
  src/pages/Landing/LandingPage.jsx
Due: none

feat: misc
  package.json
  public/build/tailwind.css
  src/CustomRefinedList.jsx
  src/Product.jsx
  src/components/CustomHits/CustomHits.jsx
  src/components/Houses/Houses.jsx
  src/components/Houses/HousesAlt.jsx
  src/components/MainSearchInput/MainSearchInput.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: make rounded search
  src/components/SearchInput/SearchInput.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
Due: none

feat: add basic current refinements
  src/App.js
  src/BreadCrumbs.jsx
  src/Refinements.jsx
  src/components/CustomHits/CustomHits.jsx
  src/components/Houses/Houses.jsx
Due: eslint --fix

feat: change layout a bit
  src/CustomRefinedList.jsx
  src/RangeInput.jsx
  src/Refinements.jsx
  src/components/CustomHits/CustomHits.jsx
  src/components/Filters/Filters.jsx
  src/components/Houses/Houses.jsx
  src/components/SearchInput/SearchInput.jsx
  src/pages/Houses/HousesPage.jsx
Due: none
