Repository Enzaik/react-tailwind-1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: make some css changes
  public/build/tailwind.css
  src/CustomRefinedList.jsx
  src/components/CustomHits/CustomHits.jsx
  src/components/Filters/VerticalFilter.jsx
  tailwind.config.js
Due: eslint --fix

feat: make filter rounded
  src/components/CategoriesMenu/CategoriesMenu.jsx
  src/components/SearchInput/SearchInput.jsx
  src/pages/Landing/LandingPage.jsx
Due: none

fix: fix main search
  public/build/tailwind.css
  src/App.js
  src/components/Houses/Houses.jsx
  src/components/MainSearchInput/MainSearchInput.jsx
  src/components/Navbar/Navbar.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
  src/img/logo.svg
  src/img/logo1.svg
Due: eslint --fix

feat: change highlights style
  src/components/CustomHighlight/CustomHighlight.jsx
  src/components/MainSearchInput/MainSearchInput.jsx
Due: none

feat: center loading
  public/build/tailwind.css
  src/App.js
  src/components/CustomHits/CustomHits.jsx
  tailwind.config.js
Due: eslint --fix

feat: change card layout
  public/build/tailwind.css
  src/App.js
  src/components/CustomHits/CustomHits.jsx
  src/components/SearchInput/SearchInputLargeScreen.jsx
  tailwind.config.js
Due: eslint --fix

feat: form
  public/build/tailwind.css
  src/App.js
  src/components/Houses/Houses.jsx
  src/components/Navbar/Navbar.jsx
  src/components/NewAd/NewAd.jsx
  src/pages/Houses/HousesPage.jsx
Due: eslint --fix

feat: test form 1
  src/components/NewAd/NewAd.jsx
Due: none

feat: form test 2
  src/components/NewAd/NewAd.jsx
Due: none

feat: form test 3
  public/index.html
  src/components/NewAd/NewAd.jsx
Due: prettier --write

feat: form test 4
  src/components/NewAd/NewAd.jsx
Due: none

feat: form test 5
  src/components/NewAd/NewAd.jsx
Due: none

feat: form test 6
  public/index.html
  src/components/NewAd/NewAd.jsx
Due: prettier --write

feat: form test 7
  public/index.html
  src/components/NewAd/NewAd.jsx
Due: prettier --write

feat: form test
  src/components/NewAd/NewAd.jsx
Due: none

feat: test func
  functions/submission-created.js
Due: eslint --fix

feat: test func 2
  netlify.toml
Due: none

feat: test func 3
  functions/submission-created.js
  src/App.js
Due: eslint --fix

feat: test func 4
  functions/submission-created.js
  src/App.js
  src/components/NewAd/NewAd.jsx
Due: eslint --fix

feat: test func 5
  functions/submission-created.js
Due: eslint --fix

feat: test func 6
  public/index.html
  src/components/NewAd/NewAd.jsx
Due: prettier --write

feat: test func 7
  functions/submission-created.js
  public/index.html
  src/components/NewAd/NewAd.jsx
Due: eslint --fix, prettier --write

feat: fnew add option
  src/components/Navbar/Navbar.jsx
Due: none

feat: change price to number
  functions/submission-created.js
Due: eslint --fix

feat: misc
  src/ProvinceInput.jsx
  src/RangeInput.jsx
  src/components/Navbar/Navbar.jsx
  src/components/NewAd/NewAd.jsx
Due: none

feat: small css change
  src/components/Houses/Houses.jsx
Due: none

fix: upgrade @babel/runtime from 7.0.0-beta.55 to 7.10.4
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade autoprefixer from 9.8.0 to 9.8.5
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade react-instantsearch-dom from 6.5.0 to 6.6.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade algoliasearch from 4.2.0 to 4.3.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @tailwindcss/ui from 0.3.0 to 0.3.1
  package.json
  yarn.lock
Due: prettier --write

feat: performance test 1
  public/index.html
  src/App.js
  src/components/Houses/Houses.jsx
  src/index.js
Due: eslint --fix, prettier --write

feat: performance test 2
  postcss.config.js
Due: eslint --fix

feat: performance test 3
  public/build/tailwind.css
  public/index.html
Due: prettier --write

feat: performance test 3: fonts
  public/index.html
Due: prettier --write

feat: performance test 4: fonts
  public/index.html
Due: prettier --write

feat: performance test 5: chunks
  src/components/Footer/Footer.jsx
  src/components/FromTheBlog/FromTheBlog.jsx
  src/pages/Landing/LandingPage.jsx
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.{json,md,yaml,yml,html}) or (any of: build/*.css)
  stylelint --fix: any of: build/*.css
